html, body, .main {
  /* background: black;
  color: white; */
  padding: 2vh 4vw;
}

.form {
  padding: 2vh 2vw;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}